.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px;
}

.cardContainer img {
  height: 400px;
  width: auto;
  margin-bottom: 10px;
}

.cardContainer h3 {
  margin-bottom: 5px;
}
